<a href="https://colab.research.google.com/github/LeonardoHyppolito/DataTwitter-Eleitoral/blob/main/Etapa_3_EDA%2C_STORYTELLING_E_VISUALIZA%C3%87%C3%83O.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Apresentação do Projeto
- **Análise De Sentimentos - DataTwitter - Eleitoral.**
- Proposta para a construção de uma aplicação que realiza análise de sentimentos dos candidatos a presidência.

 ### Etapa 3 - EDA, STORYTELLING E VISUALIZAÇÃO

In [65]:
# Importando Bibliotecas 

# Análise de dados 
import pandas as pd 

#Expressões Regulares
import re

In [33]:
# Lendo arquivo csv. 
df_todos_candidatos = pd.read_csv("dataframe_todos_candidatos.csv")

In [34]:
#Primeira Visualização
df_todos_candidatos.head()

,Data_Hora,Id_Tweet,Tweet,Candidato
0,2022-08-02 15:57:00+00:00,1554496498150346752,@jairbolsonaro Grandissimo @jairbolsonaro,BOLSONARO
1,2022-08-02 15:57:00+00:00,1554496498049622016,CORNOS FECHADOS COM BOLSONARO?? https://t.co/e...,BOLSONARO
2,2022-08-02 15:56:59+00:00,1554496493427560448,@paulocoelho resolveu lacrar e mostrar sua ve...,BOLSONARO
3,2022-08-02 15:56:58+00:00,1554496489782755329,@FlavioBolsonaro @brom_elisa Flavio teve uma i...,BOLSONARO
4,2022-08-02 15:56:58+00:00,1554496488788488197,"Bolsonaro Torches Leonardo DiCaprio, ‘Greta Ti...",BOLSONARO

In [35]:
# Informações Gerais do meu df. 
df_todos_candidatos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 612 entries, 0 to 611
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Data_Hora  612 non-null    object
 1   Id_Tweet   612 non-null    int64
 2   Tweet      612 non-null    object
 3   Candidato  612 non-null    object
dtypes: int64(1), object(3)
memory usage: 19.2+ KB

In [36]:
# Conferindo  se há dados faltantes. 
df_todos_candidatos.isnull().sum()

Data_Hora    0
Id_Tweet     0
Tweet        0
Candidato    0
dtype: int64

In [37]:
# Criando uma nova coluna, inicialmente com os mesmos valores, com o intuito de mais tarde poder comparar o tweet limpo e o tweet original. 

df_todos_candidatos['Tweet-limpo'] = df_todos_candidatos['Tweet']

In [38]:
# Cria-se uma nova coluna com os valores da coluna Tweet. 
df_todos_candidatos.head()

,Data_Hora,Id_Tweet,Tweet,Candidato,Tweet-limpo
0,2022-08-02 15:57:00+00:00,1554496498150346752,@jairbolsonaro Grandissimo @jairbolsonaro,BOLSONARO,@jairbolsonaro Grandissimo @jairbolsonaro
1,2022-08-02 15:57:00+00:00,1554496498049622016,CORNOS FECHADOS COM BOLSONARO?? https://t.co/e...,BOLSONARO,CORNOS FECHADOS COM BOLSONARO?? https://t.co/e...
2,2022-08-02 15:56:59+00:00,1554496493427560448,@paulocoelho resolveu lacrar e mostrar sua ve...,BOLSONARO,@paulocoelho resolveu lacrar e mostrar sua ve...
3,2022-08-02 15:56:58+00:00,1554496489782755329,@FlavioBolsonaro @brom_elisa Flavio teve uma i...,BOLSONARO,@FlavioBolsonaro @brom_elisa Flavio teve uma i...
4,2022-08-02 15:56:58+00:00,1554496488788488197,"Bolsonaro Torches Leonardo DiCaprio, ‘Greta Ti...",BOLSONARO,"Bolsonaro Torches Leonardo DiCaprio, ‘Greta Ti..."

In [63]:
# Criando função utilizando expressões regulares, para limpar os dados. Removendo caracteres, links, tudo que pode atrapalhar. 
def limpeza_do_texto(tweet):
  tweet = tweet.lower()
  tweet = re.sub('\n', '', tweet)
  tweet = re.sub('@[^\s]+', '', tweet)
  tweet = re.sub('\B#\S+', '', tweet)
  tweet = re.sub('https?://\S+|www\.\S+', '', tweet)
  return tweet

In [64]:
# Aplicando a função no df 
df_todos_candidatos['Tweet-limpo'] = df_todos_candidatos['Tweet'].apply(lambda i: limpeza_do_texto(i))

In [62]:
# Visualização dos dados limpos
df_todos_candidatos.head()

,Data_Hora,Id_Tweet,Tweet,Candidato,Tweet-limpo
0,2022-08-02 15:57:00+00:00,1554496498150346752,@jairbolsonaro Grandissimo @jairbolsonaro,BOLSONARO,grandissimo
1,2022-08-02 15:57:00+00:00,1554496498049622016,CORNOS FECHADOS COM BOLSONARO?? https://t.co/e...,BOLSONARO,cornos fechados com bolsonaro??
2,2022-08-02 15:56:59+00:00,1554496493427560448,@paulocoelho resolveu lacrar e mostrar sua ve...,BOLSONARO,resolveu lacrar e mostrar sua verdadeira fac...
3,2022-08-02 15:56:58+00:00,1554496489782755329,@FlavioBolsonaro @brom_elisa Flavio teve uma i...,BOLSONARO,flavio teve uma ideia 💡 quando o seu pai pre...
4,2022-08-02 15:56:58+00:00,1554496488788488197,"Bolsonaro Torches Leonardo DiCaprio, ‘Greta Ti...",BOLSONARO,"bolsonaro torches leonardo dicaprio, ‘greta ti..."

In [66]:
# Salvando df em formato csv, no computador e partindo para o proximo notebook. 
df_todos_candidatos.to_csv('df_todos_candidatos_pronto_para_sentimento.csv', sep=',', index= False)