<a href="https://colab.research.google.com/github/LeonardoHyppolito/DataTwitter-Eleitoral/blob/main/Etapa_2_Coleta_de_dados_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Apresentação do Projeto 
Proposta para a construção de uma aplicação que realiza análise de sentimentos dos candidatos à presidência, coletando dados do twitter.

Instalação das Bibliotecas

In [ ]:
pip install snscrape

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: snscrape in /usr/local/lib/python3.7/dist-packages (0.3.4)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from snscrape) (4.6.3)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from snscrape) (4.9.1)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.7/dist-packages (from snscrape) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (2022.6.15)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (1.24.3)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (1.7.1)

Importando as biblioteas

In [ ]:
import snscrape.modules.twitter as sntwitter

# Manipulação de Dados
import pandas as pd

In [ ]:
#Quantos tweets eu quero analisar ? 
maximo_de_tweets = 50

###Lula

In [ ]:
lista_de_tweets_lula = []

Para realizar a tarefa repetidamente utilizamos o for, para o for precisamos do "i" que controla (conta) a tarefa, e  vamos precisar de algo salvando o texto do tweet, que sera a nossa variavel "tweet", o enumerate vai pegar os tweets e anotar; logo, dentro do enumerate colocamos o método da biblioteca que irá buscar os tweets no twitter e usamos o get_items para pegar as informações que foram buscadas. O i conta, e o tweet escreve o texto,e o "break" encerra a atividade. Após isso, chamamos a 'lista de tweets do lula', para salvar todos os novos textos 'tweets' que chegarem, e para isso utilizamos o append.([tweet.date para adicionar a data, o tweet.id, para adicionar o id, e depois o tweet.content, para adicionar o conteúdo do tweet.

In [ ]:
# O i percorre os tweets, que a biblioteca busca, até o valor atribuido ao máximo de tweets.
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(['lula']).get_items()):
  if i > maximo_de_tweets:
    break
  lista_de_tweets_lula.append([tweet.date, tweet.id, tweet.content])

In [ ]:
# Visualizando um elemento da lista
lista_de_tweets_lula[1] # Date time traz a data, e a hora.

[datetime.datetime(2022, 8, 2, 15, 56, 16, tzinfo=datetime.timezone.utc),
 1554496311562485760,
 '@CoronelHomeroSP @LulaOficial Por que a milícia vota no bolsonaro']

In [ ]:
# Listas podem ser ótimas para salvar dados, mas dificultam a visualização, logo vou armazenar os dados dela em um df. 
dataframe_tweets_lula = pd.DataFrame(lista_de_tweets_lula, columns=['Data_Hora', 'Id_Tweet', 'Tweet'])

In [ ]:
#Visualizando o df
dataframe_tweets_lula.head()

,Data_Hora,Id_Tweet,Tweet
0,2022-08-02 15:56:16+00:00,1554496311931576322,@LulaOficial https://t.co/NAhBW8Guig
1,2022-08-02 15:56:16+00:00,1554496311562485760,@CoronelHomeroSP @LulaOficial Por que a milíci...
2,2022-08-02 15:56:16+00:00,1554496309884772352,@MottaGal @Nilsonhandebol @LulaOficial Seguindo
3,2022-08-02 15:56:16+00:00,1554496309771620354,@PauloBarbedo3 @RoLuchsinger Acabei esquecendo...
4,2022-08-02 15:56:15+00:00,1554496306013413377,@brom_elisa @kimpaim @jairbolsonaro Pode até s...

In [ ]:
# Adicionando uma coluna candidato, para facilitar a identificação. 
dataframe_tweets_lula['Candidato'] = "LULA"

In [ ]:
#Visualizando 
dataframe_tweets_lula.head()

,Data_Hora,Id_Tweet,Tweet,Candidato
0,2022-08-02 15:56:16+00:00,1554496311931576322,@LulaOficial https://t.co/NAhBW8Guig,LULA
1,2022-08-02 15:56:16+00:00,1554496311562485760,@CoronelHomeroSP @LulaOficial Por que a milíci...,LULA
2,2022-08-02 15:56:16+00:00,1554496309884772352,@MottaGal @Nilsonhandebol @LulaOficial Seguindo,LULA
3,2022-08-02 15:56:16+00:00,1554496309771620354,@PauloBarbedo3 @RoLuchsinger Acabei esquecendo...,LULA
4,2022-08-02 15:56:15+00:00,1554496306013413377,@brom_elisa @kimpaim @jairbolsonaro Pode até s...,LULA

### Bolsonaro

In [ ]:
lista_de_tweets_bolsonaro = []

In [ ]:
# O i percorre os tweets, que a biblioteca busca, até o valor atribuido ao máximo de tweets.
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(['bolsonaro']).get_items()):
  if i > maximo_de_tweets:
    break
  lista_de_tweets_bolsonaro.append([tweet.date, tweet.id, tweet.content])

In [ ]:
# Tranformando em um Data Frame. 
dataframe_tweets_bolsonaro = pd.DataFrame(lista_de_tweets_bolsonaro, columns=['Data_Hora', 'Id_Tweet', 'Tweet'])

In [ ]:
#Visualizando
dataframe_tweets_bolsonaro.head()

,Data_Hora,Id_Tweet,Tweet
0,2022-08-02 15:57:00+00:00,1554496498150346752,@jairbolsonaro Grandissimo @jairbolsonaro
1,2022-08-02 15:57:00+00:00,1554496498049622016,CORNOS FECHADOS COM BOLSONARO?? https://t.co/e...
2,2022-08-02 15:56:59+00:00,1554496493427560448,@paulocoelho resolveu lacrar e mostrar sua ve...
3,2022-08-02 15:56:58+00:00,1554496489782755329,@FlavioBolsonaro @brom_elisa Flavio teve uma i...
4,2022-08-02 15:56:58+00:00,1554496488788488197,"Bolsonaro Torches Leonardo DiCaprio, ‘Greta Ti..."

In [ ]:
# Adicionando a coluna candidato para melhorar a visualização. 
dataframe_tweets_bolsonaro['Candidato'] = "BOLSONARO"

In [ ]:
#Visualizando 
dataframe_tweets_bolsonaro.head()

,Data_Hora,Id_Tweet,Tweet,Candidato
0,2022-08-02 15:57:00+00:00,1554496498150346752,@jairbolsonaro Grandissimo @jairbolsonaro,BOLSONARO
1,2022-08-02 15:57:00+00:00,1554496498049622016,CORNOS FECHADOS COM BOLSONARO?? https://t.co/e...,BOLSONARO
2,2022-08-02 15:56:59+00:00,1554496493427560448,@paulocoelho resolveu lacrar e mostrar sua ve...,BOLSONARO
3,2022-08-02 15:56:58+00:00,1554496489782755329,@FlavioBolsonaro @brom_elisa Flavio teve uma i...,BOLSONARO
4,2022-08-02 15:56:58+00:00,1554496488788488197,"Bolsonaro Torches Leonardo DiCaprio, ‘Greta Ti...",BOLSONARO

### Ciro Gomes

In [ ]:
lista_tweets_ciro = []

In [ ]:
# O i percorre os tweets, que a biblioteca busca, até o valor atribuido ao máximo de tweets.
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(['ciro gomes']).get_items()):
  if i > maximo_de_tweets:
    break
  lista_tweets_ciro.append([tweet.date, tweet.id, tweet.content])

In [ ]:
#Criando df ciro 
dataframe_tweets_ciro = pd.DataFrame(lista_tweets_ciro, columns=['Data_Hora', 'Id_Tweet', 'Tweet'])

In [ ]:
# Adicionando a coluna candidato para melhorar a visualização. 
dataframe_tweets_ciro['Candidato'] = "CIRO GOMES"

In [ ]:
#Visualizando 
dataframe_tweets_ciro.head()

,Data_Hora,Id_Tweet,Tweet,Candidato
0,2022-08-02 15:57:07+00:00,1554496527304900608,@cirogomes O q q Ciro Nogueira tava fazendo na...,CIRO GOMES
1,2022-08-02 15:56:55+00:00,1554496473450020864,@dasilvabenedita @todoscomciro @cirogomes Vous...,CIRO GOMES
2,2022-08-02 15:56:47+00:00,1554496443104231426,@RenanOitavo @BrennoSarques @FelipePinheiroE @...,CIRO GOMES
3,2022-08-02 15:56:36+00:00,1554496396824379393,@cirogomes habla mesmo cirinho vamos de 12 htt...,CIRO GOMES
4,2022-08-02 15:56:07+00:00,1554496274791297024,"@cirogomes 1998, Ciro. 1989 FHC não foi candid...",CIRO GOMES

#### André Janones

In [ ]:
lista_tweets_andre = []

In [ ]:
# O i percorre os tweets, que a biblioteca busca, até o valor atribuido ao máximo de tweets.
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(['andre janones']).get_items()):
  if i > maximo_de_tweets:
    break
  lista_tweets_andre.append([tweet.date, tweet.id, tweet.content])

In [ ]:
#Criando df andre janones
dataframe_tweets_andre = pd.DataFrame(lista_tweets_andre, columns=['Data_Hora', 'Id_Tweet', 'Tweet'])

In [ ]:
# Adicionando a coluna candidato para melhorar a visualização. 
dataframe_tweets_andre['Candidato'] = "André Janones"

In [ ]:
#Visualizando 
dataframe_tweets_andre.head()

,Data_Hora,Id_Tweet,Tweet,Candidato
0,2022-08-02 15:56:04+00:00,1554496261209919489,A participação de Bolsonaro ocorreria em 22 de...,André Janones
1,2022-08-02 15:50:11+00:00,1554494779400114177,escrevendo sobre meu assunto favorito (governo...,André Janones
2,2022-08-02 15:28:58+00:00,1554489442408321024,ELE É UM APOIO PESADÍSSMO A CAMPANHA DE @LulaO...,André Janones
3,2022-08-02 15:09:33+00:00,1554484556002205699,"PT incorpora propostas de André Janones, que d...",André Janones
4,2022-08-02 15:07:34+00:00,1554484055793614850,"PT incorpora propostas de André Janones, que d...",André Janones

### Eymael

In [ ]:
lista_tweets_eymael = []

In [ ]:
# O i percorre os tweets, que a biblioteca busca, até o valor atribuido ao máximo de tweets.
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(['eymael']).get_items()):
  if i > maximo_de_tweets:
    break
  lista_tweets_eymael.append([tweet.date, tweet.id, tweet.content])

In [ ]:
#Criando df andre janones
dataframe_tweets_eymael = pd.DataFrame(lista_tweets_eymael, columns=['Data_Hora', 'Id_Tweet', 'Tweet'])

In [ ]:
# Adicionando a coluna candidato para melhorar a visualização. 
dataframe_tweets_eymael['Candidato'] = "EYMAEL "

In [ ]:
#Visualizando 
dataframe_tweets_eymael.head()

,Data_Hora,Id_Tweet,Tweet,Candidato
0,2022-08-02 15:57:16+00:00,1554496565066321924,@gorigorigorii @otempo ey ey eymael 👏👏👏,EYMAEL
1,2022-08-02 15:53:09+00:00,1554495528087523328,"@vitorv1taoo Minion só no segundo turno, no pr...",EYMAEL
2,2022-08-02 15:50:42+00:00,1554494910232936449,@0xC16C616E A pergunta é por que tem gente que...,EYMAEL
3,2022-08-02 15:45:31+00:00,1554493604957245447,@8Patto https://t.co/pXQfBgfGpj,EYMAEL
4,2022-08-02 15:38:26+00:00,1554491824571547648,@0xC16C616E *Desde 1998 pra presidência.,EYMAEL

### FELIPE D'AVILA

In [ ]:
lista_tweets_felipe = []

In [ ]:
# O i percorre os tweets, que a biblioteca busca, até o valor atribuido ao máximo de tweets.
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(['Felipe D Avila']).get_items()):
  if i > maximo_de_tweets:
    break
  lista_tweets_felipe.append([tweet.date, tweet.id, tweet.content])

In [ ]:
#Criando df Felipe d'Avila 
dataframe_tweets_felipe = pd.DataFrame( lista_tweets_felipe, columns=['Data_Hora', 'Id_Tweet', 'Tweet'])

In [ ]:
# Adicionando a coluna candidato para melhorar a visualização. 
dataframe_tweets_felipe['Candidato'] = "FELIPE D AVILA"

In [ ]:
#Visualizando 
dataframe_tweets_felipe.head()

,Data_Hora,Id_Tweet,Tweet,Candidato
0,2022-08-02 15:03:27+00:00,1554483018437464068,@SalhebAvelino Sigo não acreditando nas pesqui...,FELIPE D AVILA
1,2022-08-02 14:58:48+00:00,1554481849946234880,Partido Novo oficializa candidatura de Felipe ...,FELIPE D AVILA
2,2022-08-02 14:58:05+00:00,1554481671000530945,Quem estiver com Felipe d'Avila me segue que e...,FELIPE D AVILA
3,2022-08-02 14:54:11+00:00,1554480687276761092,@Du76216127 para mim Felipe D'Avila president...,FELIPE D AVILA
4,2022-08-02 14:48:34+00:00,1554479273020456962,"Vou de Felipe D' Avila, pelo menos tenho a cor...",FELIPE D AVILA

### LEONARDO PÉRICLES

In [ ]:
lista_tweets_leonardo = []

In [ ]:
for i , tweet in enumerate((sntwitter.TwitterSearchScraper(['Leonardo Pericles'])).get_items()):
  if i > maximo_de_tweets:
    break
  lista_tweets_leonardo.append([tweet.date, tweet.id, tweet.content])

In [ ]:
#Criando df Leonardo Péricles 
dataframe_tweets_leonardo = pd.DataFrame( lista_tweets_leonardo, columns=['Data_Hora', 'Id_Tweet', 'Tweet'])

In [ ]:
# Adicionando a coluna candidato para melhorar a visualização. 
dataframe_tweets_leonardo['Candidato'] = "LEONARDO PÉRICLES"

In [ ]:
#Visualização 
dataframe_tweets_leonardo.head()

,Data_Hora,Id_Tweet,Tweet,Candidato
0,2022-08-02 05:44:08+00:00,1554342265035935745,UP lança Leonardo Péricles à Presidência da Re...,LEONARDO PÉRICLES
1,2022-08-02 04:52:02+00:00,1554329149849976833,@Leon_Cubana estou me tornando fanboy da up aq...,LEONARDO PÉRICLES
2,2022-08-02 02:44:19+00:00,1554297009426817026,Queria anunciar que sou candidate pela Unidade...,LEONARDO PÉRICLES
3,2022-08-02 02:12:54+00:00,1554289103243550722,https://t.co/1k6jsWPpGR\nLeonardo Péricles moe...,LEONARDO PÉRICLES
4,2022-08-02 00:20:36+00:00,1554260844732628992,lendo as propostas do Leonardo Pericles e Sofi...,LEONARDO PÉRICLES

### PABLO MARÇAL

In [ ]:
lista_tweets_pablo = []

In [ ]:
for i , tweet in enumerate((sntwitter.TwitterSearchScraper(['Pablo Marçal'])).get_items()):
  if i > maximo_de_tweets:
    break
  lista_tweets_pablo.append([tweet.date, tweet.id, tweet.content])

In [ ]:
#Criando df Pablo Marçal 
dataframe_tweets_pablo = pd.DataFrame( lista_tweets_pablo, columns=['Data_Hora', 'Id_Tweet', 'Tweet'])

In [ ]:
# Adicionando a coluna candidato para melhorar a visualização. 
dataframe_tweets_pablo['Candidato'] = "PABLO MARÇAL"

In [ ]:
#Visualização 
dataframe_tweets_pablo.head()

,Data_Hora,Id_Tweet,Tweet,Candidato
0,2022-08-02 15:58:30+00:00,1554496873377021955,"@pablomarcal pablo,tu só irá conseguir a presi...",PABLO MARÇAL
1,2022-08-02 15:54:58+00:00,1554495985249918984,Pros oficializa candidatura de Pablo Marçal à ...,PABLO MARÇAL
2,2022-08-02 15:52:38+00:00,1554495396780589058,@pablomarcal Vai trazer metade da China pro Br...,PABLO MARÇAL
3,2022-08-02 15:35:43+00:00,1554491141298569218,@pablomarcal Eu sou com você Marçal! TMJADF,PABLO MARÇAL
4,2022-08-02 15:34:35+00:00,1554490856937324544,@rosangelamorosp Bora fechar com @pablomarcal ?,PABLO MARÇAL

ROBERTO JEFFERSON

In [ ]:
lista_tweets_roberto = []

In [ ]:
for i , tweet in enumerate((sntwitter.TwitterSearchScraper(['Roberto Jefferson'])).get_items()):
  if i > maximo_de_tweets:
    break
  lista_tweets_roberto.append([tweet.date, tweet.id, tweet.content])

In [ ]:
#Criando df Roberto Jefferson 
dataframe_tweets_roberto = pd.DataFrame( lista_tweets_roberto, columns=['Data_Hora', 'Id_Tweet', 'Tweet'])

In [ ]:
# Adicionando a coluna candidato para melhorar a visualização. 
dataframe_tweets_roberto['Candidato'] = "ROBERTO JEFFERSON"

In [ ]:
dataframe_tweets_roberto.head()

,Data_Hora,Id_Tweet,Tweet,Candidato
0,2022-08-02 15:59:26+00:00,1554497107402362880,Um país que tem e aceita Roberto Jefferson can...,ROBERTO JEFFERSON
1,2022-08-02 15:57:50+00:00,1554496707882262529,"@PedroRonchi2 Vc é burrro ou desonesto, acredi...",ROBERTO JEFFERSON
2,2022-08-02 15:56:19+00:00,1554496326074761216,PTB lança Roberto Jefferson como candidato a p...,ROBERTO JEFFERSON
3,2022-08-02 15:56:15+00:00,1554496308395794438,"PÁTRIA AMADA BRASIL.\nPAÍS DA IMPUNIDADE, DAS ...",ROBERTO JEFFERSON
4,2022-08-02 15:50:32+00:00,1554494867312721921,@RoLuchsinger O MAIOR LADRÃO DA HISTÓRIA DO BR...,ROBERTO JEFFERSON

### SIMONE TEBET

In [ ]:
lista_tweets_simone = []

In [ ]:
for i , tweet in enumerate((sntwitter.TwitterSearchScraper(['Simone Tebet'])).get_items()):
  if i > maximo_de_tweets:
    break
  lista_tweets_simone.append([tweet.date, tweet.id, tweet.content])

In [ ]:
#Criando df  Simone 
dataframe_tweets_simone = pd.DataFrame( lista_tweets_simone, columns=['Data_Hora', 'Id_Tweet', 'Tweet'])

In [ ]:
# Adicionando a coluna candidato para melhorar a visualização. 
dataframe_tweets_simone['Candidato'] = "SIMONE TEBET "

In [ ]:
dataframe_tweets_simone.head()

,Data_Hora,Id_Tweet,Tweet,Candidato
0,2022-08-02 15:59:52+00:00,1554497219092529152,@simonetebetbr E é considerada a mulher que nã...,SIMONE TEBET
1,2022-08-02 15:59:47+00:00,1554497195948363783,@simonetebetbr E não pode fazer isso agora?,SIMONE TEBET
2,2022-08-02 15:59:32+00:00,1554497134455570432,@simonetebetbr Confia!!,SIMONE TEBET
3,2022-08-02 15:59:30+00:00,1554497127077888001,@Clauwild1 @TniaJosdeSFeit2 Mas mesmo com SUA ...,SIMONE TEBET
4,2022-08-02 15:59:26+00:00,1554497107238817792,Los partidos de centro que postularon a la sen...,SIMONE TEBET

SOFIA MANZANO

In [ ]:
lista_tweets_sofia = []

In [ ]:
for i , tweet in enumerate((sntwitter.TwitterSearchScraper(['Sofia Manzano'])).get_items()):
  if i > maximo_de_tweets:
    break
  lista_tweets_sofia.append([tweet.date, tweet.id, tweet.content])

In [ ]:
#Criando df  Sofia 
dataframe_tweets_sofia = pd.DataFrame( lista_tweets_sofia, columns=['Data_Hora', 'Id_Tweet', 'Tweet'])

In [ ]:
# Adicionando a coluna candidato para melhorar a visualização. 
dataframe_tweets_sofia['Candidato'] = "SOFIA MANZANO "

In [ ]:
dataframe_tweets_sofia.head()

,Data_Hora,Id_Tweet,Tweet,Candidato
0,2022-08-02 16:00:04+00:00,1554497269524828161,Esperando lucas edson falar qual vai ser o tem...,SOFIA MANZANO
1,2022-08-02 15:54:34+00:00,1554495885450543107,*video do meu irmão colocando uma moeda dentro...,SOFIA MANZANO
2,2022-08-02 15:53:21+00:00,1554495576641015808,"@bolcherafa É foda essas fita, as vezes me sin...",SOFIA MANZANO
3,2022-08-02 15:39:44+00:00,1554492151802781697,@comunalulu PQP!!!!,SOFIA MANZANO
4,2022-08-02 15:39:05+00:00,1554491989068070912,✨ https://t.co/AGSag5JAJ4,SOFIA MANZANO

VERA LÚCIA

In [ ]:
lista_tweets_vera = []

In [ ]:
for i , tweet in enumerate((sntwitter.TwitterSearchScraper(['Vera Lúcia'])).get_items()):
  if i > maximo_de_tweets:
    break
  lista_tweets_vera.append([tweet.date, tweet.id, tweet.content])

In [ ]:
#Criando df  Simone 
dataframe_tweets_vera = pd.DataFrame( lista_tweets_vera, columns=['Data_Hora', 'Id_Tweet', 'Tweet'])

In [ ]:
# Adicionando a coluna candidato para melhorar a visualização. 
dataframe_tweets_vera['Candidato'] = "VERA LÚCIA "

In [ ]:
dataframe_tweets_vera.head()

,Data_Hora,Id_Tweet,Tweet,Candidato
0,2022-08-02 15:58:41+00:00,1554496920655208449,@AlanLopesRio Eu creio! 🙏,VERA LÚCIA
1,2022-08-02 15:57:30+00:00,1554496623559974913,Em orações peço todos os dias pelo nosso presi...,VERA LÚCIA
2,2022-08-02 15:56:44+00:00,1554496429825073153,@FlavioBolsonaro Meu Presidente! Deus o abenço...,VERA LÚCIA
3,2022-08-02 15:55:26+00:00,1554496100425498624,Desde sempre se sabe que essa família se enriq...,VERA LÚCIA
4,2022-08-02 15:53:39+00:00,1554495652524064771,n basta ladrões nas ruas ainda vem os ladrões ...,VERA LÚCIA

In [ ]:
df_todos = pd.concat([dataframe_tweets_bolsonaro, dataframe_tweets_andre, dataframe_tweets_ciro, dataframe_tweets_eymael, dataframe_tweets_lula, dataframe_tweets_felipe, dataframe_tweets_leonardo, dataframe_tweets_pablo, dataframe_tweets_roberto, dataframe_tweets_vera, dataframe_tweets_sofia, dataframe_tweets_simone])

In [ ]:
df_todos['Candidato'].unique()

array(['BOLSONARO', 'André Janones', 'CIRO GOMES', 'EYMAEL ', 'LULA',
       'FELIPE D AVILA', 'LEONARDO PÉRICLES', 'PABLO MARÇAL',
       'ROBERTO JEFFERSON', 'VERA LÚCIA ', 'SOFIA MANZANO ',
       'SIMONE TEBET '], dtype=object)

In [ ]:
df_todos.to_csv("dataframe_todos_candidatos.csv", sep=',', index = False)